<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buy books</title>
    </head>
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  .button{
	  background-color: #ffffff;
	  color:black;
	  padding:10px 18px;
    font-weight: bold;
    border-radius: 4px;
  }

  .button:hover {
    border: 2px solid #008CBA;
    background-color: #008CBA;
    color: white;
  }
</style>

  <body>
    <input type="button" style="float:right" class="button" name="logout" value="Logout" onclick="location.href='/loginm/logout/'">
    <input type="button" style="float:right" class="button" name="profile" value="Profile" onclick="location.href='/profile/'">
    <input type="button" style="float:right" class="button" name="aboutus" value="AboutUs" onclick="location.href='/loginm/aboutus/'">
    <button class="button" style="float:right" onclick="location.href='/buy/'" name="buy">Buy book</button>
    <input type="button" style="float:right" class="button" name="home" value="Home" onclick="location.href='/loginm/home/'">
    <h1>
      <font style="float:right" color="blue">Welcome to BookPortal!</font>
    </h1>


	{% block content %}
	{% endblock %}
    	
  </body>
</html>
