{% extends 'base4.html' %}

{% block content %}
<html>
    <head></head>
    <title>Show Book details</title>
    <style>
        tr,th{
            height:50px;
        }
        table,td{
            font-weight: bold;
            border-width: 2px;
            border-style:solid;
            border-spacing:0mm;
            border-color:solid black;
            padding:10px;
        }
        tr:nth-child(even){
            background-color: #ffffff;
        }
        .label{
            color:black;
            padding:8px;
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
    <body bgcolor="#00FFFF">
        <button class="button" style="position:absolute;left:0" onclick="location.href='/buy/viewcart/'" name="cart">View Cart</button>
        <br><br><br><br>
        <h2><center><span class="label">BOOK DETAILS</span></center></h2>
        <form action="" method="POST"> {% csrf_token %}
        {% if msg %}
            <center>{{msg}}</center><br>
        {% endif %}
        {% if img %}
        <table align="center">
            <tr>
                <td>Title</td>
                <td>{{img.b_name}}</td>
                <td rowspan="8"><img src='{{img.b_photo.url}}' width='260px' height='370px'/></td>
            </tr>
            <tr>
                <td>ISBN no</td>
                {% if img.b_ISBN != '' %}
                    <td>{{img.b_ISBN}}</td>
                {% else %}
                    <td>-</td>
                {%endif%}
            </tr>
            <tr>
                <td>Author name</td>
                <td>{{img.b_author}}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{img.b_price}}</td>
            </tr>
            <tr>
                <td>Publisher</td>
                {% if img.b_publisher%}
                    <td>{{img.b_publisher}}</td>
                {% else %}
                    <td>-</td>
                {%endif%} 
            </tr>
            <tr>
                <td>Category</td>
                <td>{{img.b_category}}</td>
            </tr>
            <tr>
                <td>Uploader Name</td>
                <td>{{img.uploader_name_id}}</td>
            </tr>
            <tr>
                <td>Description</td>
                {% if img.b_description %}
                    <td>{{img.b_description}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </table>
        <br>
            <input type="hidden" name="hidden" value="{{img.b_name}}"/>
        {% endif %}
        </form>
    </body>
</html>
{% endblock %}