{% extends 'base.html' %}
{% block content %}
<style>
    table{
        border-collapse: collapse;
        border-bottom: black;
        width: 30px;
    }
    tr,th{
        height:35px;
    }
    .button{
    	background-color: #ffffff;
	    color:black;
	    padding:5px 10px;
        font-weight: bold;
        display:inline-block;
        text-align: right;
        border-radius: 4px;
    }
    .button:hover {
		background-color: purple;
		border:2px solid purple;	
        color: white;
    }
</style>
<body bgcolor="pink">
    <form action="/email/testit/" method="POST">{% csrf_token %}
        {% if msg %}
            <center><font color='purple'>{{msg}}</font></center>
            <br>
        {% elif check %}
            <center><font color='purple'>{{check}}</font></center>
            <br>
        {% endif %}
        <table bgcolor="#00ff7f" align="center">
            <tr><td colspan='2'>Username: </td></tr>
            <tr><td colspan="2"><input type="text" name="username" value="Enter your username" required/></td></tr>
            <tr><td colspan="2">Email-id: </td></tr>
            <tr><td colspan="2"><input type="email" name="email" value="Enter your email-id" required/></td></tr>
            <tr>
                <td><input type="submit" class="button" value="Send Reset Password Link "/></td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}