{% extends 'base.html' %}
{% block content %}
<style>
    table{
        border-collapse: collapse;
        border-bottom: black;
    }
    tr,th{
        height:35px;
    }
    .button{
    	background-color: #ffffff;
	    color:black;
	    padding:5px 10px;
        font-weight: bold;
        display:inline-block;
        text-align: right;
        border-radius: 4px;
    }
    .button:hover {
        background-color: purple;
		border:2px solid purple;	
        color: white;
    }
</style>
<body bgcolor="pink">
    {% if msg %}
        <center><B>{{msg}}</B></center><br>

    {% elif user1 %}
        <center>
            <p><B> Welcome {{user1.username}}, your password has been reset successfully..!!</B></p>
            <p> <a href="/loginm/login/">Click here to Login</a></p>
        </center>
    {% endif %}

    {% if user %}
        <form action="/email/resetpassword/" method="POST">{% csrf_token %}
            <table bgcolor="#00ff7f" align="center">
                <tr><td colspan="2">Username: </td></tr>
                <tr><td colspan="2"><input type="text" name="username" value="{{user.username}}" required/></td></tr>
                <tr><td colspan="2">Enter Password: </td></tr>
                <tr><td colspan="2"><input type="password" name="password" minlength="8" maxlength="12" required/></td></tr>
                <tr><td colspan="2">Re-enter Password: </td></tr>
                <tr><td colspan="2"><input type="password" name="cpassword" minlength="8" maxlength="12" required/></td></tr>
                <tr>
                    <td><input type="submit" class="button" value="Reset Password"/></td>
                    <td><input type="reset" class="button" value="Clear"/></td>
                </tr>
            </table>
        </form>
    {% endif %}

</body>
{% endblock %}