{% extends 'base.html' %}
{% block content %}
<html>
    <style>

    </style>
    <body bgcolor="pink">
        <h2>
            <font color="blue">
                <center>ABOUT US</center>
            </font>
        </h2>
        <br>
        <p>
            Ever had a question like, why should I read book?
        </p>
        <h3>
            <font face="arial">
                <B>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</B><br>
                <B>– Dr. Seuss</B>
            </font>
        </h3>
        <br>
        <p>
            Ever wanted to buy a book but could not because it was too expensive? worry not! because BookPortal is here! 
            BookPortal, these days in news,is being called as the Robinhood of the world of books.
            BookPortal team is committed to bring to you all kinds of secondhand books at the minimal prices ever seen anywhere. 
            Yes, we are literally giving you away a steal.
        </p>
        <p>
            Let not the power of price stop you, read with our BookPortal website!
        </p>
    </body>
</html>
{% endblock %}