{% extends 'base.html' %}
{% block content %}
<style>
    table{
        border-collapse: collapse;
        border-bottom: black;
        width: 30px;
    }
    tr,th{
        height:35px;
    }
    .button2{
    	background-color: #ffffff;
	    color:black;
	    padding:5px 10px;
        font-weight: bold;
        display:inline-block;
        text-align: right;
    }
</style>
<body bgcolor="pink">
    <form action="/loginm/validateuser/" method="POST">{% csrf_token %}
        {% if msg %}
            <center><B>{{msg}}</B></center>
            <br>
        {% endif %}
        <table bgcolor="#00ff7f" align="center">
            <tr><td colspan='2'>Username: </td></tr>
            <tr><td colspan="2"><input type="text" name="username" value="Enter your username" required/></td></tr>
            <tr><td colspan="2">Email-id: </td></tr>
            <tr><td colspan="2"><input type="email" name="email" value="Enter your email-id" required/></td></tr>
            <tr>
                <td><input type="submit" class="button2" value="Reset Password"/></td>
                <td><input type="reset" class="button2" value="Clear"/></td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}